#cover
#theend
    &:after
        opacity 0
    h2
        font-size: 70px;
        margin-bottom: 10px;
        line-height: 1.4;
        background-image: none;
        background-color: #fff;
        color: #3e80f2
        -webkit-text-fill-color: unset
    p
        font-size: 24px;
        line-height: 1.4
        padding: 10px 25px
            
    a
        color: white;
        opacity: 0.75
.cover
    img
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;   
    
.logo
    width 75px
    background-color: #fff
    padding: 5px
    & + &
        margin-left 30px
