include ./blocks/slide.jade
include ./blocks/cover.jade
include ./blocks/quote.jade
include ./blocks/frame.jade

- var title = "Тебе не нужен Bootstrap! Или нужен? Или все же не нужен?"

doctype html
html(lang='ru')
  head
    title !{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='shower/themes/ribbon/styles/screen-16x9.css')
    link(rel="stylesheet" href="vendor/highlight.github.css")
    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='slides.css')
  body.shower.list
    header.caption
      h1 !{title}
    +slide({name: 'cover', classes:'cover'})
      h2.label(style="margin-top: 50px;") Тебе не нужен Bootstrap!
      p.next(style="font-size: 2em") Или нужен?
        span.next  Или все же не нужен?
      p(style="opacity: 0.8; margin-top: 155px") Александра Шинкевич
        br
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
      +cover('pictures/cover.jpg')
    +slide({header: "", classes: ""})
      div(style="margin-left: 50%; width: 60%; margin-top: 0px")
        h2.label Кто я?
        ul
          li Верстала еще на таблицах
          li Была начальником отдела фронтенда
          li Выгорела и уволилась
          li Счастливая безработная
            +cover('pictures/me.jpg')
        div.next
          ul.no-style(style="position: absolute; background-color: white; top: 164px;")
            li.empty Верстала еще на таблицах
            li.empty Была начальником отдела фронтенда
            li.empty Выгорела и уволилась
            li.empty(style="text-decoration: line-through") Счастливая безработная
            li Lead Frontend Developer в Expert Soft
          +cover('pictures/halloween.jpg')
        p(style="margin-top: 100px")
          img.logo(src="pictures/minskcss.png")
          img.logo(src="pictures/minskjs.png")
          img.logo(src="pictures/css-minsk-js.svg", style="background-color: #2b2727; height: 75px")
    +slide({header: "", classes: "no-page"})
      +cover('pictures/bootstrap.jpg')
    +slide({header: "", classes: ""})
      h2 Bootstrap - это...
      ul
        li Библиотека компонентов
        li.next CSS фреймворк
        li.next UI библиотека
    +slide({header: "", classes: "no-page"})
      +cover('pictures/story.jpg')
    +slide({header: "", classes: "no-page"})
      a.copyright(href="https://blog.getbootstrap.com/2012/09/29/onward/") Уход Bootstrap из Twitter
      +cover('pictures/twitter.jpg')
    +slide({header: "", classes: "no-page"})
      a.copyright(href="https://expo.getbootstrap.com") https://expo.getbootstrap.com
      +cover('pictures/examples/codecademy.jpg')
      div.next
        +cover('pictures/examples/divshot.jpg')
      div.next
        +cover('pictures/examples/gosquared.jpg')
    +slide({header: "", classes: "no-page"})
      a.copyright(href="http://3d.miu.by/") http://3d.miu.by/
      +cover('pictures/miu.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/best.jpg')
      div.next
        +cover('pictures/best-more.jpg')
    +slide({header: "", classes: "no-page"})
        +cover('pictures/fine.jpg')
    +slide({header: "", classes: "no-page"})
      img.cover(src="pictures/dont/1.png")
      img.cover.next(src="pictures/dont/2.png")
      img.cover.next(src="pictures/dont/5.png")
      img.cover.next(src="pictures/dont/3.png")
      img.cover.next(src="pictures/dont/4.png")
    +slide({header: "", classes: ""})
      h2.ask Почему не&nbsp;нужен Bootstrap?
      +cover('pictures/sad.jpg')
    +slide({header: "", classes: "shout"})
      h2.shout Проблемы Open Source
      div.hashtag #плохо
    +slide({header: "", classes: "no-page"})
      h2 Проблемы Open Source
      ul
        li Есть только то, что есть
          +cover('pictures/files.jpg')
        li.next Инертность
          +cover('pictures/issues.jpg')
        li.next Отставание от стандартов
          +cover('pictures/standards.jpg')
    +slide({header: "", classes: "shout"})
      h2.shout Кастомизация
      div.hashtag #плохо
    +slide({header: "", classes: ""})
      +cover('pictures/theming.jpg')
      div.next
        +cover('pictures/gif/confused.gif')
    +slide({header: "", classes: ""})
      pre
        code.css
          | .btn {
          |   /* ... */
          |   cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
          |   @include button-size($btn-padding-y, $btn-padding-x, 
          |      $btn-font-size, $btn-border-radius);
          | }
      +cover('pictures/why.jpg')
    +slide({header: "", classes: "no-page"})
      a.copyright(href="https://youtu.be/-DvdYLWnPhc") https://youtu.be/-DvdYLWnPhc
      +cover('pictures/seriozha.jpg')
    +slide({header: "", classes: "shout"})
      +cover('pictures/crush-kill.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/important.jpg')
    +slide({header: "", classes: "shout"})
      +cover('pictures/ploho.jpg')
    +slide({header: "", classes: "shout"})
      +cover('pictures/custom.jpg')
    +slide({header: "", classes: ""})
      h2.shout Методология наименования
      div.hashtag #плохо
      div.next
        +cover('pictures/no.png')
    +slide({header: "", classes: ""})
      +cover('pictures/atomic.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://2019.stateofcss.com/technologies/methodologies/#methodologies-experience-heatmap") State of CSS #methodologies
      +cover('pictures/bem.jpg')
    +slide({header: "", classes: ""})
      h2.shout jQuery
      div.hashtag #плохо
    +slide({header: "", classes: ""})
      +cover('pictures/ie.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://blog.getbootstrap.com/2019/02/11/bootstrap-4-3-0/") .В 5 версии не будет. Работа идет
      +cover('pictures/forgive.jpg')
    +slide({header: "", classes: ""})
      h2.ask Использовать Bootstrap в&nbsp;2019?
      +cover('pictures/philosoraptor.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/themeforest.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/spotify.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/npm.jpg')
    +slide({header: "", classes: ""})
      h2 Почему Bootstrap
      ul
        li Просто, быстро и удобно копипастить
        li.next Большой набор базовых компонентов
        li.next Выглядит презентабельно из коробки
        li.next Только HTML, CSS и JavaScript (jQuery)
      +cover('pictures/not-bad.jpg')
    +slide({header: "", classes: ""})
      h2 Версии для JS фреймворков...
      ul
        li
          a.github(href="https://react-bootstrap.github.io") React Bootstrap
        li
          a(href="https://ng-bootstrap.github.io") ng-bootstrap
        li
          a(href="https://bootstrap-vue.js.org/") BootstrapVue
        li ...
      h2.label.next ...полностью переписаны!
    +slide({header: "", classes: ""})
      h2.ask Что хорошо в&nbsp;Bootstrap?
      +cover('pictures/good.jpg')
    +slide({header: "", classes: ""})
      img.cover(src="pictures/gif/lol.webp", style="height: 100%")
      div.next 
        +cover('pictures/serious.jpg')
    +slide({header: "", classes: ""})
      h2.shout Типографика
      div.hashtag #ну_ок
    +slide({header: "", classes: ""})
      h2 Типографика
      p UI kit по заголовкам и текстовым стилям
      ul
        li.next
          a(href="https://devinhunt.github.io/typebase.css/") typebase.css
        li.next
          a(href="https://matejlatin.github.io/Gutenberg/") Gutenberg
        li.next
          a(href="http://typeplate.com/") Typeplate
      +cover('pictures/typo1.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/font.jpg')
    +slide({header: "", classes: "no-page"})
      h2.ask Сделай UI Kit со&nbsp;стилями типографики
      div.hashtag #justdoit
      +cover('pictures/typo2.jpg')
    +slide({header: "", classes: ""})
      h2.shout Семантика
      div.hashtag #ну_ок
    +slide({header: "", classes: "no-page"})
      +cover('pictures/choice.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/semantic.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/semantic-hell.jpg')
      div.next
        +cover('pictures/semantic-zoom.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/makeev.jpg')
    +slide({header: "", classes: "no-page"})
      h2.ask Верстай семантично
      div.hashtag #justdoit
      a.copyright(href="https://www.youtube.com/watch?v=bDYEnNzprzE") Семантика для циников, Вадим Макеев
      +cover('pictures/duck.jpg')
    +slide({header: "", classes: ""})
      h2.shout a11y
      div.hashtag #ну_ок
    +slide({header: "", classes: ""})
      +cover('pictures/a11y.jpg')
    +slide({header: "", classes: ""})
      h2.ask Верстай
        br
        | доступно
      div.hashtag #justdoit
    +slide({header: "", classes: ""})
      h2.shout Макетные сетки
      div.hashtag #ну_ок
    +slide({header: "", classes: "no-page"})
      +cover('pictures/grids-yes.jpg')
    +slide({header: "", classes: ""})
      h2(style="margin-top: 90px; text-align: center; font-size: 90px;") Макетные&nbsp;сетки
        br
        | =
        br
        | визуальный&nbsp;порядок
      //- +cover('pictures/grids1.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/grids.jpg')
    +slide({header: "", classes: ""})
      h2.ask Расскажи дизайнеру о&nbsp;сетках
      div.hashtag #justdoit
    +slide({header: "", classes: ""})
      h2.shout RWD и MF
      div.hashatag #ну_ок
      p(style="margin-top: 320px; text-align: center") *Responsive Web Design и Mobile First
      span.next
        +cover('pictures/captain.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/adaptive.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/rwd.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/mobile.jpg')
    +slide({header: "", classes: ""})
      h2 Mobile First и Desktop First
      pre
        code.css
          | /* Mobile First */
          | @media (min-width: ...) { ... }
      pre.next
        code.css
          | /* Desktop First */
          | @media (max-width: ...) { ... }
    +slide({header: "", classes: ""})
      a.copyright(href="https://habr.com/ru/post/473186/") Расстановка элементов без media-запросов
      +cover('pictures/flex.jpg')
    +slide({header: "", classes: ""})
      h2.ask Начни делать Mobile First!
      div.hashtag #justdoit
    +slide({header: "", classes: ""})
      h2.shout(style="font-size: 120px") Кроссбраузерность
      div.hashtag #ну_ок
    +slide({header: "", classes: ""})
      +cover('pictures/war.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://getbootstrap.com/docs/4.3/getting-started/browsers-devices/") Browsers and devices
      +cover('pictures/support.jpg')
    +slide({header: "", classes: ""})
      h2.ask Тестируй код кроссбраузерно
      a.copyright(href="https://neesoglasnaja.github.io/moscowcss_11/") Тестирование фронтенда для разработчиков
      div.hashtag #justdoit
    +slide({header: "", classes: ""})
      h2.ask Хочу&nbsp;...&nbsp;от&nbsp;Bootstrap. Как&nbsp;правильно?
      +cover('pictures/philosoraptor.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/sass.jpg')
    +slide({header: "", classes: ""})
      pre
        code.css
          | /* Required */
          | @import "../node_modules/bootstrap/scss/functions";
          | @import "../node_modules/bootstrap/scss/variables";
          | @import "../node_modules/bootstrap/scss/mixins";
      pre.next
        code.css
          |/* Optional */
          | @import "../node_modules/bootstrap/scss/type";
          | @import "../node_modules/bootstrap/scss/images";
          | @import "../node_modules/bootstrap/scss/grid";
          | ...
    +slide({header: "", classes: ""})
      h2.ask(style="width: 80%") Исходники Bootstrap как&nbsp;вдохновение
      div.hashtag #justdoit
    +slide({header: "", classes: ""})
      +cover('pictures/deeper.jpg')
    +slide({header: "", classes: ""})
      h2.ask А если превратить любой&nbsp;проект в&nbsp;UI&nbsp;библиотеку?
      +cover('pictures/philosoraptor.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/steal.jpg')
    +slide({header: "", classes: ""})
      h2(style="margin-top: 250px; text-align: center;") Плохой дизайн сложно превратить в&nbsp;хороший CSS фреймворк
      +cover('pictures/warning.jpg')
    +slide({header: "", classes: ""})
      h2 Без UI Kit...
      img(src="pictures/ui-kit.jpg", width="100%")
    +slide({header: "", classes: ""})
      h2 ...всё будет ОЧЕНЬ ПЛОХО
      img(src="pictures/bad-code-2.jpg", width="100%")
    +slide({header: "", classes: "no-page"})
      a.copyright(href="https://css-minsk-js.by") https://css-minsk-js.by
      +cover('pictures/css-minsk-js.jpg')
    +slide({header: "", classes: ""})
      h2 Проект состоит из...
      ul
        li Настроек проекта
        li Глобальных стилей, переменных
        li Макетных сеток и раскладки
        li Типографики и стилей контента
        li Компонентов
    +slide({header: "", classes: "no-page"})
      +cover('pictures/tech.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://youtu.be/gBgS5Fzhe5c") https://youtu.be/gBgS5Fzhe5c
      +cover('pictures/chernivtsijs.jpg')
    +slide({header: "", classes: ""})
      h2(style="margin-top: 250px; text-align: center;") Неструктурированный код сложно превратить в&nbsp;хороший CSS фреймворк
      +cover('pictures/warning.jpg')
    +slide({header: "", classes: "no-page"})
      h2 Компоненты
      ol
        li Кнопки
          +cover('pictures/buttons.jpg')
        li.next Заголовки и текст
          +cover('pictures/text.jpg')
        li.next Изображения в сетке
          +cover('pictures/img-grid.jpg')
        li.next Карточки спикеров
          +cover('pictures/card.jpg')
        li.next Страницы спикеров
          +cover('pictures/speaker.jpg')
        li.next ...
    +slide({header: "", classes: ""})
      h2 DRY
      +cover('pictures/good-code.jpg')
    +slide({header: "", classes: ""})
      h2 Почему Custom Properties?
      ul
        li Существуют в runtime и доступны для изменения
        li Ограничены областью видимости DOM элемента
        li Наследуются вложенными элементами от родителя
        li Возможность делать fallback
        li Отличная поддержка в 2019 году
      a.copyright(href="https://wsd.events/2016/10/29/pres/custom-properties") Пользовательские свойства как основа архитектуры CSS, Павел Ловцевич
    +slide({header: "", classes: ""})
      a.copyright(href="https://caniuse.com/#feat=css-variables") https://caniuse.com/#feat=css-variables
      +cover('pictures/caniuse-cp.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/grid.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://caniuse.com/#feat=css-grid") https://caniuse.com/#feat=css-grid
      +cover('pictures/caniuse-grid.jpg')
    +slide({header: "", classes: "no-page"})
      h2 Сетка Bootstrap
      ul
        li 10 файлов Sass с 
          code @mixin
          |  и 
          code @extend
        li Много условий и логики
      +cover('pictures/bootstrap-grid.jpg')
    +slide({header: "", classes: "no-page"})
      h2.ask CSS Grid + Custom&nbsp;Properties
      div.hashtag #justdoit
      a.copyright(href="https://github.com/lovata/aweCSSome/blob/master/common.blocks/grid/grid.css") AweCSSome Grid Framework
      +cover('pictures/awecssome-grid.jpg')
    +slide({header: "", classes: ""})
      h2 Responsive Images
      pre
        code.html
          | &#x3C;picture&#x3E;
          |   &#x3C;source srcset=&#x22;...&#x22; type=&#x22;image/svg+xml&#x22;&#x3E;
          |   &#x3C;img src=&#x22;...&#x22; class=&#x22;img-fluid img-thumbnail&#x22; alt=&#x22;...&#x22;&#x3E;
          | &#x3C;/picture&#x3E;
    +slide({header: "", classes: ""})
      h2 srcset
      pre
        code.html
          | &#x3C;img srcset=&#x22;img-320w.jpg 320w,
          |             img-480w.jpg 480w,
          |             img-800w.jpg 800w&#x22;
          |     sizes=&#x22;(max-width: 320px) 280px,
          |            (max-width: 480px) 440px,
          |            800px&#x22;
          |     src=&#x22;img-800w.jpg&#x22; alt=&#x22;...&#x22;&#x3E;
    +slide({header: "", classes: "no-page"})
      img.cover(src="pictures/gif/images.gif", style="width: 100%;")
      //- +cover('pictures/gif/images.gif')
    +slide({header: "", classes: "no-page"})
      h2.ask Экономь трафик пользователя
      div.hashtag #justdoit
    +slide({header: "", classes: ""})
      +cover('pictures/owl.jpg')
    //- +slide({header: "", classes: ""})
    //-   h2.ask А если очень хочется в&nbsp;JavaScript?
    //-   +cover('pictures/philosoraptor.jpg')
    //- +slide({header: "А что про JS компоненты?", classes: ""})
    //-   p Камон, ну что мало ли каруселек без jQuery, с a11y?
    //-   p В редких проектах нужнен весь список доступных JS компонентов Bootstrap
    //-   p А если и так, то они часто выглядят отнюдь не так, как в популярном фреймворке
    +slide({header: "", classes: ""})
      h2.ask А если на проект приходит новый разработчик?
      +cover('pictures/philosoraptor.jpg')
    +slide({header: "", classes: ""})
      p.shout(style="font-size: 2em;")
        a.link.link-github(href="https://github.com/davidhund/styleguide-generators") davidhund/styleguide-generators
    +slide({header: "", classes: ""})
      a.copyright(href="https://github.com/morishitter/postcss-style-guide") https://github.com/morishitter/postcss-style-guide
      +cover('pictures/psg.jpg')
    +slide({header: "", classes: ""})
      pre
        code.js
          | postcss([
          |   ...,
          |   styleGuide({
          |       project: 'Project name',
          |       dest: 'styleguide/index.html',
          |       showCode: false,
          |       themePath: '../'
          |   }),
          |   ...
          | ])
    
    +slide({header: "", classes: ""})
      pre
        code.css
          | /* @styleguide
          |    @title Button
          |    Use the button classes on ...
          |    &#x3C;button class=&#x22;button button--large&#x22;&#x3E;Large Button&#x3C;/button&#x3E;
          |      &#x3C;button class=&#x22;button button--large&#x22;&#x3E;Large Button&#x3C;/button&#x3E;
          | */
          | .button {
          |    /* ... */
          | }
    +slide({header: "", classes: ""})
      img.cover(src="pictures/psg-demo.jpg")
    +slide({header: "", classes: ""})
      +cover('pictures/spongebob.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/oopstrap.jpg')
    +slide({header: "", classes: ""})
      h2 Вуаля!
      ul
        li CSS библиотека, заточенная под конкретный проект
        li Со встроенной документацией
        li С конкретными примерами компонентов конкретного проекта
        li Сторонние библиотеки не запрещены
    +slide({header: "", classes: ""})
      h2 Когда брать чужое?
      ul
        li Разрабатывается быстрый прототип
        li.next Дизайн "заточен" под выбранную UI библиотеку
        li.next Нет дизайна
        li.next Вы не умеете верстать
        li.next Просто лень
      +cover('pictures/philosoraptor.jpg')
    +slide({header: "", classes: ""})
      h2 Подводя итог
      ul
        li Хватит ненавидеть библиотеки "потому что модно"
        li.next Пользуйся инструментами осознанно
        li.next Знай возможности современных CSS, HTML и JS
        li.next Не переставай учиться
    +slide({name: 'theend', header: "", classes: ''})
      p.end-link(style="position: absolute; bottom: 5%; color: #fff")
        a.bigger(href="http://bit.ly/" target="_blank") bit.ly/
        br
        | Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      img.cover(src='pictures/the_end.gif', style="width: 100%")

    .progress
    script(src='shower/shower.min.js')
    script(src='vendor/highlight.pack.js')
    script.
      hljs.initHighlightingOnLoad();
