include ./blocks/slide.jade
include ./blocks/cover.jade
include ./blocks/quote.jade
include ./blocks/frame.jade

- var title = "Тебе не нужен Bootstrap! Или нужен? Или все же не нужен?"

doctype html
html(lang='ru')
  head
    title !{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='shower/themes/ribbon/styles/screen-16x9.css')
    link(rel="stylesheet" href="vendor/highlight.github.css")
    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='slides.css')
  body.shower.list
    header.caption
      h1 !{title}
    +slide({name: 'cover', classes:'cover'})
      h2.label(style="margin-top: 50px;") Тебе не нужен Bootstrap!
      p.next(style="font-size: 2em") Или нужен?
        span.next  Или все же не нужен?
      p(style="opacity: 0.8; margin-top: 155px") Александра Шинкевич
        br
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
      +cover('pictures/cover.jpg')
    +slide({header: "", classes: ""})
      div(style="margin-left: 50%; width: 60%; margin-top: 0px")
        h2.label Кто я?
        ul
          li Верстала еще на таблицах
          li Была начальником отдела фронтенда
          li Выгорела и уволилась
          li Счастливая безработная
        ul.next.no-style(style="position: absolute; background-color: white; top: 164px;")
          li.empty Верстала еще на таблицах
          li.empty Была начальником отдела фронтенда
          li.empty Выгорела и уволилась
          li.empty(style="text-decoration: line-through") Счастливая безработная
          li Lead Frontend Developer в Expert Soft
        p(style="margin-top: 100px")
          img.logo(src="pictures/minskcss.png")
          img.logo(src="pictures/minskjs.png")
          img.logo(src="pictures/css-minsk-js.svg", style="background-color: #2b2727; height: 75px")
      +cover('pictures/me.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/bootstrap.jpg')
    +slide({header: "", classes: ""})
      h2 Bootstrap - это...
      ul
        li Библиотека компонентов
        li.next CSS фреймворк
        li.next UI библиотека
    +slide({header: "", classes: "no-page"})
      +cover('pictures/story.jpg')
    +slide({header: "", classes: "no-page"})
      a.copyright(href="https://blog.getbootstrap.com/2012/09/29/onward/") Уход Bootstrap из Twitter
      +cover('pictures/twitter.jpg')
    +slide({header: "", classes: "no-page"})
      a.copyright(href="https://expo.getbootstrap.com") https://expo.getbootstrap.com
      +cover('pictures/examples/codecademy.jpg')
      div.next
        +cover('pictures/examples/divshot.jpg')
      div.next
        +cover('pictures/examples/gosquared.jpg')
    +slide({header: "", classes: "no-page"})
      a.copyright(href="http://3d.miu.by/") http://3d.miu.by/
      +cover('pictures/miu.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/fine.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/best.jpg')
      div.next
        +cover('pictures/best-more.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/worst.jpg')
      div.next
        +cover('pictures/worst-more.jpg')
    +slide({header: "", classes: "no-page"})
      p в какой-то момент все поменялось
    +slide({header: "", classes: "no-page"})
      h2 Убить Bootstrap
      p https://www.fourkitchens.com/blog/article/you-dont-need-bootstrap/
      p https://www.butterfly.com.au/blog/website-development/bootstrap-why-we-dont-use-the-framework-devs-are-raving-about
      p https://dev.to/teamxenox/do-we-really-need-a-css-framework-4ma6
      p https://frontendmasters.com/courses/advanced-css-layouts/refactoring-a-grid-system-bootstrap-is-dead/
      p https://2019.stateofcss.com/technologies/css-frameworks/#bootstrap
      p https://medium.com/@stasonmars/%D0%BA%D0%B0%D0%BA-%D1%8F-%D0%BF%D0%B5%D1%80%D0%B5%D1%81%D1%82%D0%B0%D0%BB-%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-bootstrap-%D0%B2-%D1%83%D0%B3%D0%BE%D0%B4%D1%83-css-grid-3e351e97425f
      p https://hacks.mozilla.org/2016/04/you-might-not-need-a-css-framework/
      p http://www.zingdesign.com/5-reasons-not-to-use-twitter-bootstrap/
      p https://borealis.agency/stopped-using-bootstrap/255
    +slide({header: "", classes: ""})
      h2.ask Почему не&nbsp;нужен Bootstrap?
      +cover('pictures/sad.jpg')
    +slide({header: "", classes: "shout"})
      h2.shout Проблемы Open Source
      div.hashtag #плохо
    +slide({header: "", classes: "no-page"})
      h2 Проблемы Open Source
      ul
        li Есть только то, что есть
          +cover('pictures/files.jpg')
        li.next Инертность
          +cover('pictures/issues.jpg')
        li.next Отставание от стандартов
          +cover('pictures/standards.jpg')
    +slide({header: "", classes: "shout"})
      h2.shout Кастомизация
      div.hashtag #плохо
    +slide({header: "", classes: ""})
      +cover('pictures/theming.jpg')
      div.next
        +cover('pictures/gif/confused.gif')
    +slide({header: "", classes: "shout"})
      +cover('pictures/crush-kill.jpg')
    +slide({header: "", classes: ""})
      p пример important который не работает
    +slide({header: "", classes: "shout"})
      +cover('pictures/ploho.jpg')
    +slide({header: "", classes: "shout"})
      +cover('pictures/custom.jpg')
    +slide({header: "", classes: ""})
      h2.shout Методология наименования
      div.hashtag #плохо
    +slide({header: "", classes: ""})
      p пример классов в разметке
    +slide({header: "", classes: ""})
      a.copyright(href="https://2019.stateofcss.com/technologies/methodologies/#methodologies-experience-heatmap") State of CSS #methodologies
      +cover('pictures/bem.jpg')
    +slide({header: "", classes: ""})
      h2.shout jQuery
      div.hashtag #плохо
    +slide({header: "", classes: ""})
      a.copyright(href="https://blog.getbootstrap.com/2019/02/11/bootstrap-4-3-0/") .В 5 версии не будет. Работа идет
      +cover('pictures/forgive.jpg')
    +slide({header: "", classes: ""})
      h2.ask Использовать Bootstrap в&nbsp;2019?
      +cover('pictures/philosoraptor.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/themeforest.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/spotify.jpg')
    +slide({header: "", classes: ""})
      h2 Почему Bootstrap
      ul
        li Просто, быстро и удобно копипастить - хорошие доки
        li.next Большой набор базовых компонентов
        li.next Выглядит презентабельно из коробки
        li.next Только HTML, CSS и JavaScript (jQuery)
      +cover('pictures/not-bad.jpg')
    +slide({header: "", classes: ""})
      h2 Версии для JS фреймворков...
      ul
        li
          a.github(href="https://react-bootstrap.github.io") React Bootstrap
        li
          a(href="https://ng-bootstrap.github.io") ng-bootstrap
        li
          a(href="https://bootstrap-vue.js.org/") BootstrapVue
        li ...
      h2.label.next ...полностью переписаны!
    +slide({header: "", classes: ""})
      h2.ask Что хорошо в&nbsp;Bootstrap?
      +cover('pictures/good.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/gif/lol.webp')
      div.next 
        +cover('http://m.quickmeme.com/img/36/3693b256459380487160651bb6c2645b35caa5d4f917514ce9a1599dc1b031fe.jpg')
    +slide({header: "", classes: ""})
      h2.shout Типографика
      div.hashtag #ну_ok
    +slide({header: "", classes: ""})
      h2 Типографика
      p UI kit по заголовкам и текстовым стилям
      ul
        li.next
          a(href="https://devinhunt.github.io/typebase.css/") typebase.css
        li.next
          a(href="https://matejlatin.github.io/Gutenberg/") Gutenberg
        li.next
          a(href="http://typeplate.com/") Typeplate
      +cover('pictures/typo1.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/font.jpg')
    +slide({header: "", classes: "no-page"})
      h2.ask Сделай UI Kit со&nbsp;стилями типографики
      div.hashtag #justdoit
      +cover('pictures/typo2.jpg')
    +slide({header: "", classes: ""})
      h2.shout Семантика
      div.hashtag #ну_ок
    +slide({header: "", classes: "no-page"})
      +cover('pictures/choice.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/semantic.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/semantic-hell.jpg')
      div.next
        +cover('pictures/semantic-zoom.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/makeev.jpg')
    +slide({header: "", classes: "no-page"})
      h2.ask Верстай семантично
      div.hashtag #justdoit
      a.copyright(href="https://www.youtube.com/watch?v=bDYEnNzprzE") Семантика для циников, Вадим Макеев
      +cover('pictures/duck.jpg')
    +slide({header: "", classes: ""})
      h2.shout a11y
      div.hashtag #ну_ок
    +slide({header: "", classes: ""})
      +cover('pictures/a11y.jpg')
    +slide({header: "", classes: ""})
      h2.ask Верстай
        br
        | доступно
      div.hashtag #justdoit
    +slide({header: "", classes: ""})
      h2.shout Макетные сетки
      div.hashtag #ну_ок
    +slide({header: "", classes: "no-page"})
      +cover('pictures/grids-yes.jpg')
    +slide({header: "", classes: ""})
      h2(style="margin-top: 90px; text-align: center; font-size: 90px;") Макетные&nbsp;сетки
        br
        | =
        br
        | визуальный&nbsp;порядок
      //- +cover('pictures/grids1.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/grids.jpg')
    +slide({header: "", classes: ""})
      h2.ask Расскажи дизайнеру о&nbsp;сетках
      //- h2.label Как применить?
      //- ul
      //-   li 
      //-   li Начать использовать CSS Grid Layout
      //- ul
      //-   li.empty.next
      //-     a(href="https://codepen.io/lautsevich/pen/PRmPxv") CSS Grid Framework by Павел Ловцевич
    +slide({header: "", classes: ""})
      h2.shout.label RWD и MF
      p(style="margin-top: 320px; text-align: center") *Responsive Web Design и Mobile First
      span.next
        +cover('pictures/captain.jpg')
    +slide({header: "", classes: ""})
        +cover('pictures/rwd.jpg')
    +slide({header: "", classes: ""})
      h2.label Mobile First и Desktop First
      pre
        code.css
          | /* Mobile First */
          | @media (min-width: ...) { ... }
      pre.next
        code.css
          | /* Desktop First */
          | @media (max-width: ...) { ... }
    +slide({header: "", classes: ""})
      h2.label Как применить?
      ul
        li Начни делать Mobile First!
        li Мобильные - это важно!
        li Я серьезно, и дизанейру своем скажи!
    +slide({header: "", classes: ""})
      h2.shout.label Кроссбраузерность
    +slide({header: "", classes: ""})
      h2.label Кроссбраузерность
      ul
        li Браузер - неконтролируемая среда
        li Чем сложнее код, тем больше ошибок
        +cover('pictures/browsers.jpg')
    +slide({header: "", classes: ""})
      h2.label Как применить?
      ul
        li Начни тестировать свой код кроссбраузерно
        li Да, на реальных девайсах
        li Загляни в исходники Bootstrap за вдохновением
      p
        a(href="https://neesoglasnaja.github.io/moscowcss_11/") Тестирование фронтенда для разработчиков
    +slide({header: "", classes: ""})
      +cover('pictures/steal.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/oopstrap.jpg')
    +slide({header: "", classes: ""})
      h2(style="margin-top: 250px; text-align: center;") Плохой дизайн сложно превратить в&nbsp;хороший CSS фреймворк
      +cover('pictures/warning.jpg')
    +slide({header: "", classes: ""})
      h2.label Без UI Kit...
      img(src="https://neesoglasnaja.github.io/moscowcss_11/pictures/ui-kit.jpg", width="100%")
    +slide({header: "", classes: ""})
      h2.label ...всё будет ОЧЕНЬ ПЛОХО
      img(src="https://neesoglasnaja.github.io/moscowcss_11/pictures/bad-code-2.jpg", width="100%")
    +slide({header: "", classes: ""})
      h2.label Из чего состоит Oopstrap
      ul
        li Код рабочего проекта
        li Документация
    +slide({header: "", classes: ""})
      a.copyright(href="https://css-minsk-js.by") https://css-minsk-js.by
      +cover('pictures/css-minsk-js.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/tech.jpg')
    +slide({header: "", classes: ""})
      h2.label Проект состоит из...
      ul
        li Настроек проекта
        li Глобальных стилей, переменных
        li Grid system
        li Типографики и стилей контента
        li Компонентов
    +slide({header: "", classes: ""})
      p Простая структура файлов
    +slide({header: "", classes: ""})
      a.copyright(href="https://youtu.be/gBgS5Fzhe5c") https://youtu.be/gBgS5Fzhe5c
      +cover('pictures/chernivtsijs.jpg')
    +slide({header: "", classes: ""})
      h2.label DRY
      +cover('https://neesoglasnaja.github.io/moscowcss_11/pictures/good-code.jpg')
    +slide({header: "", classes: ""})
      h2.shout(style="font-size: 2em;")
        a.link.link-github(href="https://github.com/davidhund/styleguide-generators") davidhund/styleguide-generators
    +slide({header: "", classes: ""})
      a.copyright(href="https://github.com/morishitter/postcss-style-guide") https://github.com/morishitter/postcss-style-guide
      +cover('pictures/psg.jpg')
    +slide({header: "", classes: ""})
      img(src="https://github.com/morishitter/postcss-style-guide/raw/master/style-guide-default.png")
    +slide({header: "custom properties", classes: ""})
      p Более мощный инструмент, чем  переменные препроцессоров
      р Имеет каскадность и фоллбек
      p Классный кейс - адаптивные элементы UI kit
    +slide({header: "", classes: ""})
      p И нет, переменные это не про то, чтобы не копипастить код
      p Основная задача переменных - контроль над стилями "темы"
    +slide({header: "layouts & grid", classes: ""})
    +slide({header: "Эра flex", classes: ""})
      p Нужен только класс-контейнер (и то не всегда)
      p Высчитывать все эти колонки, остпуты... Долго и неинтересно!
    +slide({header: "css grid", classes: ""})
      p Создание сетки в несколько строк
      р Подержка браузеров позволяет использовать в проде https://caniuse.com/#feat=css-grid
    +slide({header: "css grid", classes: ""})
      p Пример с 12 колонками в несколько строк
      p Вот и не нужен подход с atomicCSS, когда стили пишутся классами в разметке
      p А еще гриды умеют в адаптив (пример как)
    +slide({header: "Типографика и контент", classes: ""})
      p Воруй как художник, если дизайнер это еще не сделал за тебя
      p Тулзы для подбора типографики
      p Можно и вертикальный ритм подключить, это не сложно
    +slide({header: "responsive images", classes: ""})
      p В Bootstrap есть поддержка тега picture - это круто
      p Но ничего не говорится от src-set, т.е. об адаптивных изображениях
      р А это классная техника уменьшения трафика пользователя
    +slide({header: "Компоненты", classes: ""})
      p Неужто сложно наверстать такие компоненты как...
      p Alerts, Badges, Buttons, Progress, Spinners и еще несколько десятков такой же ерунды?
    +slide({header: "А что про JS компоненты?", classes: ""})
      p Камон, ну что мало ли каруселек без jQuery, с a11y?
      p В редких проектах нужнен весь список доступных JS компонентов Bootstrap
      p А если и так, то они часто выглядят отнюдь не так, как в популярном фреймворке
    +slide({header: "dialog", classes: ""})
      р Полноценные модальный элемент
      p Пока сложно использовать из-за низкой поддержки https://caniuse.com/#feat=dialog
      р Доклад Ани Селезневой https://www.youtube.com/watch?v=s6PI8pKQxgo
    +slide({header: "Утилитарные класы", classes: ""})
      p Ресеты стилей
      p Простой повторяющийся код вынесен в переменные еще несколько этапов назад
      p Большинству проектов достаточно парочки таких классов как visibility-hidden, display-none и т.д.
      p А остальное - в утиль. Вот серьезно, зачему 20 классов border, если граница задается один свойством?! 
    +slide({header: "", classes: ""})
      +cover('pictures/spongebob.jpg')
    +slide({header: "", classes: ""})
      h2.label Вуаля!
      ul
        li CSS библиотека, заточенная под конкретный проект
        li Со встроенной документацией
        li С конкретными примерами компонентов конкретного проекта
        li Сторонние библиотеки не запрещены
    +slide({header: "", classes: ""})
      h2.label Когда брать чужое?
      ul
        li Разрабатывается быстрый прототип
        li.next Дизайн "заточен" под выбранную UI библиотеку
        li.next Нет дизайна
        li.next Вы не умеете верстать
        li.next Просто лень
    +slide({header: "", classes: ""})
      h2.label Подводя итог
      ul
        li Хватит ненавидеть библиотеки "потому что модно"
        li.next Пользуйся инструментами осознанно
        li.next Знай возможности современных CSS, HTML и JS
    +slide({header: "", classes: "no-page"})
      a.copyright(href="https://youtu.be/-DvdYLWnPhc") https://youtu.be/-DvdYLWnPhc
      +cover('pictures/seriozha.jpg')
    +slide({header: "", classes: "no-page"})
      a.copyright(href="https://youtu.be/lDGOK3Iwfnc") https://youtu.be/lDGOK3Iwfnc
      +cover('pictures/seriozha2.jpg')
    +slide({header: "", classes: ""})
      h2.label Подводя итог
      ul
        li Хватит ненавидеть библиотеки "потому что модно"
        li Пользуйся инструментами осознанно
        li Знай возможности современных CSS, HTML и JS
        li.next Не переставай учиться
    +slide({name: 'theend', header: "", classes: ''})
      p.end-link(style="position: absolute; bottom: 5%; background-color: #1b1b1b")
        a.bigger(href="http://bit.ly/" target="_blank") bit.ly/
        br
        | Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      img.cover(src='pictures/end.jpg')

    .progress
    script(src='shower/shower.min.js')
    script(src='vendor/highlight.pack.js')
    script.
      hljs.initHighlightingOnLoad();
